<!DOCTYPE html>
<html>
<head>
<title>运动员信息</title>
#parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.name" @keyup.enter="query" placeholder="关键字">
            </div>
            <a class="btn btn-default" @click="query">查询</a>
			#if($shiro.hasPermission("sport:save"))
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			#end
			#if($shiro.hasPermission("sport:update"))
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			#end
			#if($shiro.hasPermission("sport:delete"))
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			#end
            <a class="btn btn-primary" @click="info"><i class="fa fa-info"></i>&nbsp;详情</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-success">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">姓名</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" :disabled="showInfo"  v-model="sport.name" placeholder="姓名"/>
                        </div>
                    </div>
																                    <div class="form-group">
                        <div class="col-sm-2 control-label">编号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" :disabled="showInfo"  v-model="sport.code" placeholder="编号"/>
                        </div>
                    </div>
																                    <div class="form-group">
                        <div class="col-sm-2 control-label">联系方式</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" :disabled="showInfo"  v-model="sport.phone" placeholder="联系方式"/>
                        </div>
                    </div>
																                    <div class="form-group"  >
                        <div class="col-sm-2 control-label">所属参数单位</div>
                        <div class="col-sm-10">
                            <select class="form-control" :disabled="showInfo"  v-model="sport.dept">
                                <option v-for="l in depts" :value="l.id">{{l.name}}</option>
                            </select>
                        </div>
                    </div>
																                    <div class="form-group" v-if="user.userId<=1" >
                        <div class="col-sm-2 control-label">绑定登录账号</div>
                        <div class="col-sm-10">
                            <select class="form-control" :disabled="showInfo"  v-model="sport.user">
                                <option v-for="l in users" :value="l.userId">{{l.username}}</option>
							</select>
                        </div>
                    </div>

                												                    <div class="form-group" v-if="showInfo">
                        <div class="col-sm-2 control-label">添加时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" :disabled="showInfo"  v-model="sport.gmttime" placeholder="添加时间"/>
                        </div>
                    </div>

												<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定" v-if="!showInfo"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-default" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${rc.contextPath}/js/admin/sport.js?_${date.systemTime}"></script>
</body>
</html>